@import url(./media.css);


*{
    margin: 0px;
    padding: 0px;
}

.Container,
.Footer{
    height: 200px;  
    border: solid 1px black ;
}

/* Header */

.Header-Logo,
.Header-Menu,
.Header-Login{
    border: solid 1px red;
}

.Header-Logo, .Header-Login{
    display: inline-block;
}

.Header-Menu{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.Header-Logo{
    margin-left: 49%;
    text-align: center;
}

.Header-Login{
    float: right;
    margin-right: 10%;
}

#li-Login{
    text-decoration: none;
    color: black;
}

#li-Login, #li-Menu{
    display: inline-block;
}

#li-Menu{
    font-weight: 1000;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
}

#li-Menu:hover, #li-Login:hover {
    text-decoration: underline;
}

