@import url(/홈페이지2/media.css);


*{
    margin: 0px;
}

.Header,
.Container,
.Footer{
    height: 200px;
    margin: 0px, 100px, 0px, 100px;
}

/* Header */

.Header-Logo,
.Header-Menu,
.Header-Login{
}

.Header-Logo, .Header-Login{
    display: inline-block;
}

.Header-Menu{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.Header-Logo{
    height: 100px;
    width: 150px;
}

.Header-Login{
    float: right;
}

#li-Login, #li-Menu{
    text-decoration: none;
    display: inline-block;
}

#li-Menu{
    font-weight: 1000;
    font-size: 1.2em;
    margin-left: 50px;
}

#li-Menu:hover{
    text-decoration: underline;
}

