*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    height: 60vh;
}

.Header .Container .Footer{
    display: inline;
    width: 100%;
    
}

.Header{
    height: 20%;
}

.Container{
    height: 100%;
    border: solid balck 1px;
    display: flex;    
    border-bottom: solid gray 1px;
    border-top: solid gray 1px;
}

.Footer{
height: 100%;
}

.Login-form{
    margin: auto;
    border:solid black 1px;
    padding: 5%;
    padding-bottom: 20%;
}

#password{
    margin-left: 14px;
}

.Login{
    margin-left: 1;
}



.h1{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: solid gray 1px;
}

#Login{
    background-color: ;
    color: white;
    border: none;
    padding: 3%;
}


.admin{
    margin-left: 100px;
}